@import "font-awesome";

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("code.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 20px #000000;
}

.banner {
    background-image: url("san-fransico.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

html {
    scroll-behavior: smooth;
}

// .slick-dots {
//     display: flex;
//     justify-content: center;
//     margin: 0;
//     padding: 1rem 0;
//     list-style-type: none;
// }

// .slick-dots li {
//     margin: 0 0.25rem;
// }

// .slick-dots button {
//     display: block;
//     width: 0.8rem;
//     height: 0.8rem;
//     padding: 0;

//     border: 1px solid rgb(224, 224, 224);
//     border-radius: 100%;
//     background-color: rgb(255, 255, 255);

//     text-indent: -9999px;
// }

// .slick-dots li.slick-active button {
//     background-color: dodgerblue;
// }
